<!DOCTYPE html>
<html>

<head>
    <title>
        Danh sách bài viết
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/danhsachbaiviet-style.css" />
</head>

<body>
    <% include header-dangnhap%>
        <section>

            <div class="dsbv-main-content">
                <div class="dsbv-title">
                    <h2>Danh sách bài viết</h2>
                </div>
                <div class="dsbv-list-item">
                    <% bv.forEach(function(b) { %>
                        <div class="dsbv-item">
                            <div class="dsbv-topic">
                                <div class="dsbv-topic-title">
                                    <%if(b.idLoai === 1) {%>
                                        <h4><b>Chủ đề: Sức khỏe</b></h4>
                                        <%} else if(b.idLoai === 2){%>
                                            <h4><b>Chủ đề: Giáo dục</b></h4>
                                            <%} else if(b.idLoai === 3){%>
                                                <h4><b>Chủ đề: Ăn uống và dinh dưỡng</b></h4>
                                                <%} else if(b.idLoai === 3){%>
                                                    <h4><b>Chủ đề: Phong cách sống</b></h4>
                                                    <%}%>
                                </div>

                            </div>
                            <div class="dsbv-status">

                                <a href="/danhsachbaiviet/<%= b.idLoai %>/<%= b.idBai %>" style="text-decoration: none;">
                                    <p>
                                        <% var thich = b.noiDung %>
                                            <%= b.noiDung %>
                                    </p>
                                </a>
                            </div>
                            <div class="dsbv-time">
                                <div class="dsbv-view">

                                    <%= b.nguoiThich %> Lượt thích
                                </div>
                                <div class="dsbv-comment">
                                    24 Bình luận
                                </div>
                                <div class="dsbv-date">
                                    <%= b.date %>
                                </div>
                                <div class="dsbv-oclock">
                                    lúc
                                    <%= b.time %>
                                </div>
                            </div>
                        </div>
                        <div class="dsbv-space">

                        </div>

                        <% });%>

                </div>

            </div>

        </section>
        <% include footer%>

            <script type="text/javascript">
                $(document).ready(function() {
                    var bv = b.nguoiThich;
                    document.getElementById("demo").innerHTML = bv.length;
                });
            </script>
</body>

</html>